<section class="container">
	<div id="seminars" layout="column" flex-xs flex-gt-xs="50">
		<div layout="row" layout-align="space-between center">
			<h3>세미나</h3>
			<md-button class="md-fab md-primary" aria-label="add seminars" ng-click="addSeminarPrompt($event)">
				<i style="vertical-align: middle" class="material-icons">add</i>
		    </md-button>
		</div>

		<md-card ng-repeat="item in items" ng-if="!noMoreSeminars">
		  <md-card-title>
		    <md-card-title-text>
		      <span class="md-headline">{{item.title}}</span>
		      <span class="md-subhead">{{item.speaker}}</span>
		    </md-card-title-text>
		    <md-card-title-media>
		      <div class="md-media-sm" style="background-color: #999999;"></div>
		    </md-card-title-media>
		  </md-card-title>
		  <md-card-actions layout="row" layout-align="end center">
		    <md-button><i style="vertical-align: middle" class="material-icons">alarm</i></md-button>
		    <md-button><i style="vertical-align: middle" class="material-icons">thumb_up</i></md-button>
		  </md-card-actions>
		  <md-card-content>
		    <div class="row" layout="column" style="padding-left:30px;">
		      {{item.content}}
		    </div>
		  </md-card-content>
		</md-card>

		<md-card ng-if="noMoreSeminars">
		  <md-card-content>
		  	<p layout="row" layout-align="center center">발표가 없어요 T^T</p>
		  </md-card-content>
		</md-card>
	</div>
</section>